@font-face {
    font-family: "Robot";
    src: url("fonts/robot9000italic-yzxe8-webfont.woff2") format("woff2"),
        url("fonts/robot9000italic-yzxe8-webfont.woff") format("woff");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("images/starfield.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1800px;
    padding: 10px;
    margin: auto;
}

#game-title {
    grid-column: 1 / span 12;
    text-align: center;
    background-color: #222;
    padding: 5px 0;
    border-radius: 8px;
    background-image: url("images/hyperspace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-top: 3px;
}
#game-title img {
    max-width: 475px;
    max-height: 335px;
}
#stats-bar {
    font-family: "Robot", "Courier New", Courier, monospace;
    font-size: 1.6rem;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 40px;
}

#vitals-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

#health-ammo {
    grid-column: 4 / span 2;
    color: red;
    text-align: center;
}

#score-container {
    grid-column: 9 / span 1;
    text-align: center;
    color: rgb(126, 204, 235);
}

#game-section {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

#high-scores-box {
    font-family: "Robot", "Courier New", Courier, monospace;
    font-size: 1.6rem;
    color: lightgray;
    grid-column: 1 / span 3;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-image: url("images/hud.png");
    background-size: cover;
}
#game-container {
    grid-column: 4 / span 6;
    position: relative;
    height: 800px;
    background-image: url("images/moonBg.png");
    background-size: cover;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#instructions-box {
    font-family: "Robot", "Courier New", Courier, monospace;
    font-size: 1.6rem;
    color: lightgray;
    grid-column: 10 / span 3;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-image: url("images/hud.png");
    background-size: cover;
}

#high-scores-list {
    list-style-type: none;
    padding: 0;
}

#game-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#start-button {
    font-family: "Robot", "Courier New", Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: blue;
    color: lightgray;
}

#next-wave-button {
    font-family: "Robot", "Courier New", Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: blue;
    color: lightgray;
}

#game-over-message {
    font-size: 24px;
    color: red;
    background-color: #f9f9f9;
    padding: 10px;
}
.powerup-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.powerup-info .health-pack,
.powerup-info .ammo-pack {
    position: static;
    margin-right: 10px;
}
/*Game Elements*/
.health-pack {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    background-image: url("images/healthPack.png");
    background-size: cover;
}

.ammo-pack {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    background-image: url("images/ammoCrate.png");
    background-size: cover;
}

#soldier {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 50%;
    background-image: url("images/spaceSoldier.png");
    background-size: cover;
}

.alien {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    background-size: cover;
}

.red {
    background-image: url("images/redAlien.png");
}

.green {
    background-image: url("images/greenAlien.png");
    width: 70px;
}

.yellow {
    background-image: url("images/yellowAlien.png");
    width: 80px;
}

.bullet {
    width: 10px;
    height: 5px;
    background-color: red;
    position: absolute;
}

.rocket {
    width: 10px;
    height: 5px;
    background-color: rgb(0, 225, 255);
    position: absolute;
}

.alien-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.alien-info .alien {
    position: static;
    margin-right: 10px;
}

.health-bar {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 90%;
    height: 5px;
    background-color: green;
    transition: width 0.3s;
}
